In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import seaborn as sns
import matplotlib.pyplot as plt

# Exploração dos Dados

In [3]:
# ler dataset
dataset = pd.read_csv('datasets/CuidadoSaude/data.csv')

In [4]:
dataset.head()

,_id,ccf,age,sex,pain location,pain w exertion,relieved after rest,pncaden,chest pain type,resting bp s,...,rcaprox,rcadist,dummy 7,dummy 8,dummy 9,dummy 10,dummy 11,dummy 12,dummy 13,dummy 14
0,1254,0,40,1,1,0,0.0,NaN,2,140.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,name
1,1255,0,49,0,1,0,0.0,NaN,3,160.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,name
2,1256,0,37,1,1,0,0.0,NaN,2,130.0,...,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,name
3,1257,0,48,0,1,1,1.0,NaN,4,138.0,...,2.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,name
4,1258,0,54,1,1,0,1.0,NaN,3,150.0,...,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,name

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617 entries, 0 to 616
Data columns (total 76 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _id                           617 non-null    int64
 1   ccf                           617 non-null    int64
 2   age                           617 non-null    int64
 3   sex                           617 non-null    int64
 4   pain location                 617 non-null    int64
 5   pain w exertion               617 non-null    int64
 6   relieved after rest           613 non-null    float64
 7   pncaden                       0 non-null      float64
 8   chest pain type               617 non-null    int64
 9   resting bp s                  558 non-null    float64
 10  hypertension                  583 non-null    float64
 11  cholesterol                   587 non-null    float64
 12  smoker                        230 non-null    float64
 13  cigarettes per day            202 non-null    float64
 14  years of smoking              190 non-null    float64
 15  fasting blood sugar           527 non-null    float64
 16  diabetes                      72 non-null     float64
 17  family hist                   195 non-null    float64
 18  resting ecg                   615 non-null    float64
 19  ekg month                     564 non-null    float64
 20  ekg day                       563 non-null    float64
 21  ekg yr                        564 non-null    float64
 22  digitalis                     551 non-null    float64
 23  beta blocker                  553 non-null    float64
 24  nitrates                      554 non-null    float64
 25  calcium channel blocker       556 non-null    float64
 26  diuretic                      537 non-null    float64
 27  exercise protocol             505 non-null    float64
 28  duration of exercise          561 non-null    float64
 29  thaltime                      233 non-null    float64
 30  mets achieved                 512 non-null    float64
 31  max heart rate                562 non-null    float64
 32  resting heart rate            561 non-null    float64
 33  peak exercise bp 1            554 non-null    float64
 34  peak exercise bp 2            554 non-null    float64
 35  dummy 1                       558 non-null    float64
 36  resting bp d                  558 non-null    float64
 37  exercise angina               562 non-null    float64
 38  xhypo                         559 non-null    float64
 39  oldpeak                       555 non-null    float64
 40  ST slope                      309 non-null    float64
 41  ST height at rest             474 non-null    float64
 42  ST heaight at peak            475 non-null    float64
 43  flouroscopy                   11 non-null     float64
 44  dummy 2                       0 non-null      float64
 45  dummy 3                       1 non-null      float64
 46  resting ejection fraction     28 non-null     float64
 47  rest wall motion abnormality  30 non-null     float64
 48  exercise ejection fraction    2 non-null      float64
 49  exercsie wall motion          5 non-null      float64
 50  thal                          142 non-null    float64
 51  dummy 4                       130 non-null    float64
 52  dummy 5                       44 non-null     float64
 53  dummy 6                       1 non-null      float64
 54  cath month                    606 non-null    float64
 55  cath day                      608 non-null    float64
 56  cath yr                       608 non-null    float64
 57  target                        617 non-null    int64
 58  lmt                           342 non-null    float64
 59  ladprox                       381 non-null    float64
 60  laddist                       371 non-null    float64
 61  diag                          341 non-null    float64
 62  cxmain                        382 non-null    float64
 63  ramus                         332 non-null    float64
 64  om1                           346 non-null    float64
 65  om2                           327 non-null    float64
 66  rcaprox                       372 non-null    float64
 67  rcadist                       347 non-null    float64
 68  dummy 7                       598 non-null    float64
 69  dummy 8                       598 non-null    float64
 70  dummy 9                       598 non-null    float64
 71  dummy 10                      598 non-null    float64
 72  dummy 11                      601 non-null    float64
 73  dummy 12                      311 non-null    float64
 74  dummy 13                      119 non-null    float64
 75  dummy 14                      617 non-null    object
dtypes: float64(67), int64(8), object(1)
memory usage: 366.5+ KB

In [6]:
dataset.shape

(617, 76)

# Preparando dados

### a) Dados Faltantes

In [7]:
dataset.fillna(dataset.mean(), inplace=True)
dataset.head()

,_id,ccf,age,sex,pain location,pain w exertion,relieved after rest,pncaden,chest pain type,resting bp s,...,rcaprox,rcadist,dummy 7,dummy 8,dummy 9,dummy 10,dummy 11,dummy 12,dummy 13,dummy 14
0,1254,0,40,1,1,0,0.0,NaN,2,140.0,...,1.47043,1.207493,1.0,1.0,1.0,1.0,1.0,27.623119,5.869748,name
1,1255,0,49,0,1,0,0.0,NaN,3,160.0,...,1.47043,1.207493,1.0,1.0,1.0,1.0,1.0,27.623119,5.869748,name
2,1256,0,37,1,1,0,0.0,NaN,2,130.0,...,1.47043,1.207493,1.0,1.0,1.0,1.0,1.0,27.623119,5.869748,name
3,1257,0,48,0,1,1,1.0,NaN,4,138.0,...,2.00000,1.207493,1.0,1.0,1.0,1.0,1.0,27.623119,5.869748,name
4,1258,0,54,1,1,0,1.0,NaN,3,150.0,...,1.00000,1.207493,1.0,1.0,1.0,1.0,1.0,27.623119,5.869748,name

In [9]:
dataset_to_array = np.array(dataset)

In [13]:
dataset_to_array # Cada elemento do array é uma linha

array([[1254, 0, 40, ..., 27.623118971061086, 5.8697478991596626, 'name'],
       [1255, 0, 49, ..., 27.623118971061086, 5.8697478991596626, 'name'],
       [1256, 0, 37, ..., 27.623118971061086, 5.8697478991596626, 'name'],
       ...,
       [202, 0, 55, ..., 0.69, 5.6, 'name'],
       [116, 0, 58, ..., 0.81, 6.0, 'name'],
       [160, 0, 62, ..., 27.623118971061086, 5.8697478991596626, 'name']],
      dtype=object)

In [ ]:
target = dataset_to_array[:, 57]